<form
      [formGroup]="fg" (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
      <label for="exampleInputEmail1">Nombre</label>
      <input type="email" class="form-control" id="nombre" [formControl]="fg.controls['nombre']"
      >
      <ul>
        <li *ngFor="let result of searchResults">
          {{result}}
        </li>
      </ul>
    
      <div *ngIf="!fg.controls['nombre'].hasError('required')">Nombre requerido
        </div>
        <div *ngIf="!fg.controls['nombre'].hasError('invalidNombre')">Nombre inválido
        </div>
        <div *ngIf="!fg.controls['nombre'].hasError('minLongNombre')">Nombre debe tener al menos 8 caracteres
        </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Imagen url</label>
      <input type="text" class="form-control" id="url"  [formControl]="fg.controls['url']">
    </div>
    <button type="submit" class="btn btn-primary"  *ngIf="fg.valid">Guardar</button>
  </form>