
<div class="container row justify-content-center mx-auto">
    <div class="col-lg-6 card">
        <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
    <!-- <div class="col-lg-4" *ngFor="let x of destinos">
        <div class="card mt-2">
            <div class="card-body">
                <label for="">{{x}}</label>
            </div>
        </div>
    </div> -->
</div>
<div class="row">
    <app-destino-viaje
    *ngFor="let d of destinosApiClient.getAll(); let i=index" 
    [destino]="d"
    [idx]="i"
    (clicked)="elegido(d)"
    appEspiame>
</app-destino-viaje>
</div>
<hr>
<div class="row">
    <h5>Actividad</h5>
    <ul>
        <li *ngFor="let update of updates">
            {{update}}
        </li>
    </ul>
</div>
